@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap'); /*h1, formulario*/

body {
    background-color: #e0e0df;
}

/*Acordeon index*/
.accordion {
    padding-top: 2rem;
}

.accordion-item:first-of-type .accordion-button  {
    border-radius: 1rem;
    background-color: #1995AD;
    color: black;
}

.accordion-item:first-of-type {
    border-radius: 1rem;
    background: #A1D6E2;
}

.accordion-item:last-of-type .accordion-button  {
    border-radius: 1rem;
    background-color: #4D648D;
    color: rgb(236, 233, 233);
}

.accordion-item:last-of-type .accordion-body{
    border-radius: 1rem;
    background: #D0E1F9;
}

h1 {
    font-family: 'Kanit', sans-serif;
}

/*Agregar productos*/
.container {
    background: #CDCDC0;
    border-radius: 1.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.1rem;
    width: 65%;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

/*Mostrar productos*/
.table-responsive {
    background: #CDCDC0;
    border-radius: 1.8rem;
    padding-top: 1.3rem;
    padding-bottom: 0.3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    text-align: center;
}

table th,td {
    text-align: center;
}

#botones {
    width: 5%;
}

thead {
    background-color: #727077;
    color: aliceblue;
}

tbody {
    background-color: #A49592;
}



